/Codigo/capaPresentacion/target/
/Codigo/capaNegocio/target/
Codigo/capaNegocio/src/main/java/BOs/VentaBO.java
Codigo/capaPresentacion/src/main/java/interfaces/MenuPrincipal.form
Codigo/capaPresentacion/src/main/java/interfaces/MenuPrincipal.java
Codigo/capaPresentacion/src/main/java/interfaces/MenuPrincipal.java
Codigo/capaPresentacion/src/main/java/interfaces/MenuPrincipal.form
Codigo/capaNegocio/src/main/java/BOs/VentaBO.java
/Codigo/capaNegocio/nbproject/
/Codigo/RegistroVentaSubsistema/target/
/Codigo/capaPersistencia/nbproject/
/Codigo/capaPersistencia/target/
/Codigo/RegistroProveedor/target/
